@import "tailwindcss";



@theme {
  --color-primary: #4545FE;
  --color-secondary: #191919;
  --color-text: #3D3D3D;
  --color-secondary-bg: #F5F5F5;

  --font-sans: 'Euclid Circular B', ui-sans-serif, system-ui, sans-serif;
}


@font-face {
  font-family: 'Euclid Circular B';
  src: url('/fonts/EuclidCircularB-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Euclid Circular B';
  src: url('/fonts/EuclidCircularB-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Euclid Circular B';
  src: url('/fonts/EuclidCircularB-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: var(--font-sans);
  font-weight: 500; 
}