.swiper-pagination-bullet {
    background: rgba(255,255,255,0.7)!important; /* light bullets */
    opacity: 0.7;
  }
  
  .swiper-pagination-bullet-active {
    background: #fff !important; /* white for active bullet */
    opacity: 1;
  }
  